<!DOCTYPE html>
<html lang="en">
<%- include('partials/head'); %>

    <body>
        <%- include('partials/header'); %>

            <article id="option">
                <figure id="images">
                    <img src="<%= restaurants[0].picture[0] %>" alt="">
                    <img src="<%= restaurants[0].picture[1] %>" alt="">
                    <img src="<%= restaurants[0].picture[0] %>" alt="">
                    <img src="<%= restaurants[0].picture[1] %>" alt="">
                    <img src="<%= restaurants[0].picture[0] %>" alt="">
                    <img src="<%= restaurants[0].picture[1] %>" alt="">
                </figure>
                <section id="description">
                        <h1 class="name">
                            <a href="detail-page"> 
                                <%= restaurants[0].name %> 
                            </a>
                        </h1>
                    <span class="location">
                        <%= restaurants[0].location %>
                    </span>
                </section>
            </article>

            <%- include('partials/footer'); %>

                <script src="/drag.js"></script>
    </body>

</html>