<!DOCTYPE html>
<html lang="en">
<%- include('partials/head'); %>

<body>
    <%- include('partials/header'); %>
    
    <article id="option">
        <figure>
            <img src="<%= restaurants[0].picture[0] %>" alt="">
            <img src="<%= restaurants[0].picture[1] %>" alt="">
            <img src="<%= restaurants[0].picture[0] %>" alt="">
            <img src="<%= restaurants[0].picture[1] %>" alt="">
            <img src="<%= restaurants[0].picture[0] %>" alt="">
            <img src="<%= restaurants[0].picture[1] %>" alt="">
        </figure>
        <section>
            <h1 class="name">
                <%= restaurants[0].name %>
            </h1>
            <span class="location">
                <%= restaurants[0].location %>
            </span>
        </section>
    </article>

    <%- include('partials/footer'); %>

    <script src="/drag"></script>
</body>

</html>