<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

    <body>
        <%- include('../partials/header'); %>
        
        <article class="titel">
            <h1>Favorites</h1>
            <div>
                <span><%= restaurants.length %> </span>
                <span>spots</span>
            </div>
        </article>
        
            <main id="saved">
                <% restaurants.forEach(function(restaurant){ %>
                    <article>
                        <figure>
                            <img src="<%= restaurant.pictures[0] %>" alt="">
                        </figure>
                        <section>
                            <h2>
                                <%= restaurant.name %>
                            </h2>
                            <span>
                                <%= restaurant.location %>
                            </span>
                        </section>
                    </article>
                    <% }) %>
            </main>

    </body>

</html>