<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

    <body>
        <%- include('../partials/header'); %>

            <main id="option">
                <button class="previous">back</button>
                <button class="next"> next</button>
                <figure id="images">
                    <!-- images worden main.js hierin gezet -->
                    <!-- main.js is toegevoegd aan ../partials/head -->
                    <!-- dummy plaatjes array beginnen bij [0] -->
                    <% restaurants[0].pictures.forEach(function(pic){ %>
                        <img src="<%= pic %>" draggable="false">
                        <% }) %>
                </figure>

                <section id="description">
                    <h1 class="name">
                        <a href="/restaurants/<%= restaurants[0].slug  %>">
                            <%= restaurants[0].name %>
                        </a>
                    </h1>
                    <span class="location">
                        <%= restaurants[0].location %>
                    </span>
                </section>
            </main>

            <%- include('../partials/footer'); %>
                <script src="/main.js"></script>
                <script src="/drag.js"></script>
    </body>

</html>